@import 'styles/colors.scss';
@import 'styles/custom-control.scss';

.modal-content {
    color: $black;

    .modal-header {
        position: relative;

        .modal-title {
            text-align: center;
            margin: auto;
        }
    }
}

.form-group {
    .form-label {
        margin-bottom: 0;
        font-size: 14px;
    }

    .form-small-input {
        max-width: 100px;
        margin-left: 10px;
    }

    .form-input {
        height: 25px;
        font-size: 18px;
        padding: 0 10px;
        border: 1px solid;
        cursor: initial;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .edit-form-input {
        padding: 0 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.data-container {
    margin-right: 20px;
    text-align: center;

    .terrain {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        .vertical-line {
            width: $terrain-size;
            height: $terrain-size;
            display: flex;
            align-items: center;

            .cell {
                padding: 40px 18px;
                border-left: $border-size solid $black;
                border-right: $border-size solid $black;
                position: relative;
                cursor: pointer;

                .active-cell {
                    height: 100%;
                    width: 100%;
                    background: url($car);
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    max-height: 76px;
                    max-width: 35px;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
