<div class="modal" id="selectedSpot">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Spot {{selectedSpot?.indicator}}</h4>
      </div>

      <div class="modal-body d-flex">

        <div class="data-container">
          <div *ngIf="selectedSpot?.active" class="text-center">IS 77 MDV</div>
          <div *ngIf="!selectedSpot?.active" class="text-center">Empty</div>

          <div class="terrain">
            <div class="vertical-line">

              <div class="cell">
                <div [class.active-cell]="selectedSpot?.active"></div>
              </div>

            </div>
          </div>
          <button *ngIf="selectedSpot?.active" class="btn btn-primary btn-sm" (click)="changeSlotStatus(false)"
            data-dismiss="modal">Check
            Out</button>
          <button *ngIf="!selectedSpot?.active" class="btn btn-primary btn-sm" (click)="changeSlotStatus(true)"
            data-dismiss="modal">Check
            In</button>
        </div>

        <div class="form-group" *ngIf="selectedSpot?.active">
          <label class="form-label" for="driverName">Driver</label>
          <input type="text" class="form-control form-input" id="driverName" readonly value="Ciubotariu Robert">

          <label class="form-label" for="driverContactNumber">Tel</label>
          <input type="text" class="form-control form-input" id="driverContactNumber" readonly value="0752757083">

          <div class="d-flex">
            <div>
              <label class="form-label" for="driverCheckInDate">Check-In</label>
              <input type="text" class="form-control form-input" id="driverCheckInDate" readonly value="08:00">
            </div>

            <div class="text-center form-small-input">
              <label class="form-label" for="driverTimeSpend">Time spend</label>
              <input type="text" class="form-control form-input text-center" id="driverTimeSpend" readonly
                value="22min">
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="!selectedSpot?.active">
          <label class="form-label" for="editdriverName">Driver</label>
          <input type="text" class="form-control form-input edit-form-input" id="driverName" placeholder="Driver name">

          <label class="form-label" for="driverEditCarPlate">Car plate</label>
          <input type="text" class="form-control form-input edit-form-input" id="driverCarPlate"
            placeholder="Car plate">

          <div class="d-flex">
            <div>
              <label class="form-label" for="driverContactNumber">Tel</label>
              <input type="text" class="form-control form-input edit-form-input" id="driverContactNumber"
                placeholder="Phone number" value="">
            </div>

            <div class="form-small-input">
              <label class="form-label" for="driverEditCheckIn">Check-In</label>
              <input type="text" class="form-control form-input edit-form-input" id="driverCheckIn"
                placeholder="ex: 20:20">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button *ngIf="selectedSpot?.active" class="btn btn-primary btn-sm" data-dismiss="modal">Edit</button>

        <button class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
