@import 'styles/colors.scss';

.parking-floors {
    background-color: $white;

    .parking-container {
        width: 100%;

        .main-button {
            margin-top: 10px;
            max-width: 100%;
        }
    }
}
