<div class="parking-items">
  <div class="row">
    <div *ngIf="parkings" class="col-lg-3 col-md-4 col-sm-6">
      <div class="card-container info-card">
        <div class="create-parking-container">
          <div class="parking__image"></div>

          <div *ngIf="!hasAnyParkingsCreated">
            <span>
              Here you will find all your parkings. You have not yet added a
              parking. You can add a parking by pressing on the create a parking
              button.
            </span>
          </div>
          <div
            data-toggle="modal"
            data-target="#createParkingArea"
            class="main-button active w-100"
          >
            Create parking
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let parking of parkings" class="col-lg-3 col-md-4 col-sm-6">
      <div class="card-container">
        <div class="card-title">
          <div class="main-title">
            {{ parking.name }}
          </div>

          <div class="subtitle">
            {{ parking.address }}
          </div>
        </div>

        <div class="image-container">
          <img
            class="parking-image"
            [src]="'assets/img/bg/' + parking.parkingType + '.png'"
            alt=""
          />
        </div>

        <div class="status-container">
          <div class="cell-container">
            <div class="subtitle">Total Levels</div>
            <div class="text-cell">{{ parking.totalLevels }}</div>
          </div>

          <div
            class="d-flex flex-wrap justify-content-between slots-data-container"
          >
            <div class="cell-container">
              <div class="subtitle">Total spots</div>
              <div class="text-cell">{{ parking.totalSpots }}</div>
            </div>

            <div class="cell-container">
              <div class="subtitle">Free spots</div>
              <div class="text-cell">{{ parking.freeSpots }}</div>
            </div>

            <div class="cell-container">
              <div class="subtitle">Used spots</div>
              <div class="text-cell">{{ parking.usedSpots }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex">
            <div (click)="editParking(parking)" class="col-5 main-button">
              Edit
            </div>
            <div
              class="col-5 main-button"
              data-toggle="modal"
              data-target="#generalConfimModal"
              (click)="changeSelectedParking(parking)"
            >
              Delete
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-parking-area
  (changeParkingModelIndex)="createParking($event)"
></app-create-parking-area>

<app-general-confirm-modal
  (emitConfimChanged)="deleteParking()"
  [title]="'Are you sure you want to delete this parking?'"
></app-general-confirm-modal>
