@import 'styles/colors.scss';

.parking-items {
    .card-container {
        border-radius: 5px;
        background-color: $white;
        padding: 10px 10px;
        margin-bottom: 10px;

        .card-title {
            .main-title {
                margin-bottom: 0;
            }

            .subtitle {
                margin-bottom: 20px;
            }
        }

        .cell-container {
            padding: 0 2px;
            margin-right: 0;
        }

        .image-container {
            text-align: center;
            margin: 0 auto 20px auto;

            .parking-image {
                max-width: 150px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
