<div class="parking-status custom-card">
  <div class="header-container">
    <h3 class="main-title">Parking Spots</h3>
    <img
      *ngIf="!isEraseModeEnabled"
      (click)="toogleEraseMode()"
      class="icon-image"
      src="assets/img/icons/eraser.svg"
      alt=""
    />

    <img
      *ngIf="isEraseModeEnabled"
      (click)="toogleEraseMode()"
      class="icon-image"
      src="assets/img/icons/eraser-active.svg"
      alt=""
    />
  </div>

  <div class="parking-container">
    <ng-container *ngFor="let slotModel of slotModels | slice: 1; index as i">
      <img
        [class.active]="i === selectedSpotModelIndex"
        class="spot__image"
        [src]="'assets/img/bg/' + slotModel.image + '.svg'"
        [alt]="slotModel.title"
        (click)="changeSelectedSpotModel(i, slotModel)"
      />
    </ng-container>
  </div>
</div>
