<div class="menu">
  <div class="company-logo">
    <img class="logo" src="assets/img/bg/logo.png" alt="">
  </div>

  <div  class="d-flex sort-container">
    <div class="order-container">
      <img class="order-icon" src="assets/img/icons/ascending.png" alt="">
      Ascending
    </div>

    <div class="order-container">
      <img class="order-icon" src="assets/img/icons/ascending.png" alt="">
      Descending
    </div>
  </div>

  <div class="add-floor-container floor-level">
    Add level above
  </div>

  <div class="floor-container floor-level">
    Parter
  </div>

  <div class="floor-container floor-level">
    -1
  </div>

  <div class="floor-container floor-level">
    -2
  </div>

  <div class="floor-container floor-level">
    -3
  </div>

  <div class="add-floor-container floor-level">
    Add level below
  </div>
</div>

<div class="terrain">

</div>
