.menu {
    background: rgb(38, 68, 173);
    max-width: 400px;
    text-align: center;
    color: white;
    padding: 5px;
    height: 100%;

    .sort-container {
        margin: 5px;

        .order-container {
            margin-right: 10px;
            padding: 10px 5px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            .order-icon {
                width: 20px;
            }
        }
    }

    .floor-container {
        background-color: rgb(84, 114, 234);
    }

    .floor-level {
        font-size: 20px;
        margin: 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .add-floor-container {
        background-color: rgb(76, 94, 182);
    }

    .company-logo {
        .logo {
            width: 100%;
            max-width: 200px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 0 10px;
        }
    }
}
