<app-parking-status-header
  [selectedParking]="parking"
></app-parking-status-header>

<div class="terrain" id="terrain" #terrain>
  <div
    *ngFor="let row of terrainSizeRow; index as i"
    class="terrain-row d-flex"
  >
    <div
      id="y{{ i }}x{{ j }}"
      #cell
      appUpdateLineSize
      appPreviewSlotPlacement
      [class.vertical-line]="getSelectedCell(i, j)"
      *ngFor="let col of terrainSizeCol; index as j"
      class="terrain-col"
      [selectedSlotModel]="selectedSlotModel"
      [parkingViewMode]="parkingViewMode"
      [parkingPlacements]="parkingPlacements"
      [terrain]="terrain"
      [rowNumber]="i"
      [colNumber]="j"
      [class.block-cell]="isBlockCell(i, j)"
    >
      <div
        class="cell"
        (click)="getSelectedSpot(i, j)"
        data-toggle="modal"
        data-target="#selectedSpot"
      >
        <div class="cell-indicator">
          <span>{{ getCellData(i, j, 'indicator') }}</span>
        </div>

        <div [class.active-cell]="getCellData(i, j, 'active')"></div>
      </div>
    </div>
  </div>
</div>

<app-selected-spot-modal
  [driver]="driver"
  [selectedParkingArea]="selectedParkingArea"
  [selectedSpot]="selectedSpot"
></app-selected-spot-modal>
