$white: rgb(255, 255, 255);
$light-white: rgb(246, 249, 255);
$main-blue: rgb(0, 123, 255);
$light-blue: rgb(0, 105, 217);
$black: rgb(0, 0, 0);
$slate-gray: rgb(177, 175, 175);
$main-gray: rgb(131, 131, 131);
$dark-cyan: rgb(68, 117, 142);
