$terrain-size: 36px;
$border-size: 2px;

$terrain: '/assets/img/bg/terrain.png';
$car: '/assets/img/bg/car.png';

.custom-card {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-all;
}
