<div class="parking-status custom-card">
  <div class="menu-title">
    Parking Area status
  </div>

  <div class="status-container">
    <!-- <div class="cell-container">
      <div class="subtitle">Section</div>
      <div class="text-cell">Area 4</div>
    </div> -->

    <div class="d-flex justify-content-between slots-data-container">
      <div class="cell-container">
        <div class="subtitle">Total spots</div>
        <div class="text-cell">52</div>
      </div>

      <div class="cell-container">
        <div class="subtitle">Free spots</div>
        <div class="text-cell">3</div>
      </div>

      <div class="cell-container">
        <div class="subtitle">Used spots</div>
        <div class="text-cell">49</div>
      </div>
    </div>
  </div>

</div>
