<div class="modal" id="generalConfimModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
      </div>

      <div class="modal-footer">
        <button
          (click)="emitAnswer()"
          class="btn btn-primary btn-sm"
          data-dismiss="modal"
        >
          YES
        </button>

        <button #close class="btn btn-danger btn-sm" data-dismiss="modal">
          NO
        </button>
      </div>
    </div>
  </div>
</div>
