<div class="header">
  <div class="d-flex align-items-center">
    <div class="parking-image">
      <img class="w-100" src="assets/img/bg/parking.png" alt="" />
    </div>
    <div>
      <div class="main-title">
        {{ parking.name }}
      </div>
      <div class="subtitle">
        {{ parking.address }}
      </div>
    </div>
  </div>

  <div class="status-container">
    <div class="d-flex slots-data-container">
      <div class="cell-container">
        <div class="main-title">
          {{ parking.totalLevels }}
        </div>
        <div class="subtitle">Number of floors</div>
      </div>

      <div class="cell-container">
        <div class="main-title">
          {{ parking.startDate }}
        </div>
        <div class="subtitle">Start date</div>
      </div>

      <div class="cell-container">
        <div class="main-title">
          {{ parking.endDate }}
        </div>
        <div class="subtitle">End date</div>
      </div>
    </div>
  </div>
</div>
