@import 'styles/colors.scss';

.header {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    background: $white;
    border-radius: 5px;
    justify-content: space-between;

    .parking-image {
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }

    .main-title {
        margin-bottom: 0;
    }

    .status-container {
        display: flex;
        align-items: center;

        .slots-data-container {
            .cell-container {
                margin-top: 0;
            }
        }
    }
}
